{% extends 'core/base.html' %}
{% block content %}
<div class="container pt-2">
    <h1 class="text-warning">SERVICES</h1>
    <hr class='text-white'>
    <div class="row text-center mb-5">
        <div class="col-sm-4  text-white ">
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x  i-col mb-3"></i>
            <h3>SEO</h3>
            <p class='ss-col'>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-sm-4  text-white ">
            <i class="fa-solid fa-palette fa-2x  i-col mb-3"></i>
            <h3>SEO</h3>
            <p class='ss-col'>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-sm-4  text-white ">
            <i class="fa-solid fa-code fa-2x i-col mb-3 "></i>
            <h3>Web Development</h3>
            <p class='ss-col'>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>    
    <div class="row text-center mb-5">
        <div class="col-sm-4  text-white ">
            <i class=" fa-brands fa-android  fa-2x  i-col mb-3"></i>
            <h3>Android</h3>
            <p class='ss-col'>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-sm-4  text-white ">
            <i class="  fa-brands fa-apple fa-2x  i-col mb-3"></i>
            <h3>IOS</h3>
            <p class='ss-col'>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-sm-4  text-white ">
            <i class="fa-solid fa-ad fa-2x i-col mb-3 "></i>
            <h3>Advertising</h3>
            <p class='ss-col'>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>    
    <div class="row text-center mb-5">
        <div class="col-sm-4  text-white ">
            <i class="fa-solid fa-pencil fa-2x  i-col mb-3"></i>
            <h3>Logo Design</h3>
            <p class='ss-col'>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-sm-4  text-white ">
            <i class="fa-solid fa-database fa-2x  i-col mb-3"></i>
            <h3>Hosting</h3>
            <p class='ss-col'>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-sm-4  text-white ">
            <i class="fa-solid fa-headset fa-2x i-col mb-3 "></i>
            <h3>Support</h3>
            <p class='ss-col'>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</div>
{% endblock content %}